

<div class="card shadow mt-4 mb-4" data-controller="users">
  <div class="card-header py-3">
    <div class="row">
      <div class="col-8 fs-3 fw-bolder">
        <%= t("activerecord.models.user.other") %>
      </div>
      <div class="col">
        <div class="d-flex flex-row-reverse">
          <%= form_with url: "/", method: :get, data: { controller: "users", target: "users.form", turbo_frame: "table" } do |f| %>
            <%= text_field_tag :query, params[:query], class: "form-control", placeholder: t("view_components.search_by_user_name"), data: { action: "users#submit" } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= turbo_frame_tag "table" do %>
    <%= render "shared/flash_messages" %>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th><%= t("activerecord.attributes.user.name") %></th>
            <th><%= t("activerecord.attributes.user.email") %></th>
            <th><%= t("activerecord.attributes.user.gender") %></th>
            <th></th>
          </tr>
        </thead>
        <tbody class="align-middle">
          <%= render @users %>
        </tbody>
      </table>
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  <% end %>
</div>
